@model WebAppH2014.Models.UserModifyUser
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logg inn</title>
</head>
<body>
    <h2>Logg inn</h2>
    <hr/>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        if (ViewBag.isLoggedIn)
        {
            Response.Redirect("~/Login/UserPage");
        }

        <div>
            <fieldset>
                <div class="form-horizontal">
                    <div class="form-group">
                        
                        @Html.Label("Brukernavn", new { @class = "control-label col-md-2" })
                
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.UserLogin.UserName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserLogin.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Passord", new { @class = "control-label col-md-2" })

                        <div class="col-md-3">
                            @Html.PasswordFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                            Ny bruker? @Html.ActionLink("Registrer deg her", "Register")
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-3">
                            <input type="submit" value="Logg inn" class="btn btn-success" />
                            @if (ViewBag.WrongPassword)
                            {
                                <div id="WrongP"><p>Feil passord eller brukernavn.<br />Prøv igjen</p></div>
                            }
                        </div>
                    </div> 
                </div>
            </fieldset>
       </div>
    }
</body>
</html>