@model WebAppH2014.Models.Genre

@{
    ViewBag.Title = "Home";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Item.css" />
    <title>Home</title>
</head>
<body>
    <br />
    <div class="jumbotron">
        <img id="img-logo" src="~/Resources/Tast1Tur.png" alt="Logo" />
        <p class="lead">Tast-En-Tur er en nettbutikk som strever for å selge de beste og nyeste keyboard'ene med best mulig service.</p>
        <p class="lead">Både nye og eksisterende brukere kan logge inn eller registrere seg med å trykke på "Min Side" øverst.</p>
 
        <p><a href="~/Store" class="btn btn-primary btn-lg">Se utvalg &raquo;</a></p>
    </div>

    <div class="row">
        @{
            var r = new Random();
            int[] used = { -1, -1, -1 };
            for (int i = 0; i < 3; i++)
            {
                var num = -1;
                while (used.Contains(num))
                {
                    num = r.Next(@Model.Items.Count);
                }
                used[i] = num;

                var item = Model.Items.ElementAt(num);
                <div class="panel" id="content">

                    <div class="panel-body">
                        <a href="~/Store/Details/@(item.SalesItemId)"><img id="item-img" src="~/Resources/@(item.Name).png" alt="Keyboard" /></a>
                        <h2>@item.Name</h2>

                    </div>
                    <div class="panel-footer">

                        @if (item.Description.Length > 60)
                        {
                            <p style="height:40px">@(item.Description.Substring(0, 60)) <a href="~/Store/Details/@(item.SalesItemId)"> ...les mer</a></p>
                        }
                        else
                        {
                            <p style="height:40px">@(item.Description) <a href="~/Store/Details/@(item.SalesItemId)"> ...les mer</a></p>

                        }
                        <div id="price-wrap"><h3>@(item.Price),-</h3></div>
                        <div id="img-wrap">
                            @Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = item.SalesItemId }, new { @class = "btn btn-success" })
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</body>
</html>