@model WebAppH2014.Models.SalesItem

@{
    ViewBag.Title = @Model.Name;
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>The Stock</title>
</head>
<body>
    <div class="panel">
        <div class="panel-body">

            <h2>@Html.DisplayFor(model => model.Name)</h2>
            <hr/>
            <div class="row">
                <div class="col-md-3">
                    <div>
                        <img id="item-img" src="~/Resources/@(@Html.DisplayFor(model => model.ImageUrl)).png" alt="Image of @Model.Name" class="img-rounded" style="width: 300px; height:225px;">
                    </div>
                </div>
                <div class="col-md-5">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayName("Pris")
                        </dt>

                        <dd>
                            @(Html.DisplayFor(model => model.Price)),-
                        </dd>

                        <dt>
                            @Html.DisplayName("Beskrivelse")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>

                        <dt>
                            @Html.DisplayName("På lager")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.InStock)
                        </dd>

                    </dl>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <a href="javascript:history.go(-1)" class="btn btn-primary">Tilbake</a>
            @Html.ActionLink("Legg i Handlevogn", "AddToCart", "ShoppingCart", new { id = Model.SalesItemId }, new { @class = "btn btn-success" })
        </div>
    </div>        
</body>
