@model IEnumerable<WebAppH2014.Models.User>


@{
    ViewBag.Title = "DbTest";
}

<h2>THIS IS A DB-TEST</h2>

@foreach (var users in Model)
{

    <h2>User Name: @users.UserLogin.UserName UserID: @users.UserId</h2>
    if (users.Orders != null) { 
    foreach (var orders in users.Orders)
    {
        <p>OrderNumber: @orders.OrderId</p>
        if (orders.SalesItems != null) { 
        foreach (var salesitem in orders.SalesItems)
        {
            if (salesitem.SalesItem != null) { 
            <p>Product: @salesitem.SalesItem.Name Price per unit: @salesitem.SalesItem.Price Amount: @salesitem.Amount Genre: @salesitem.SalesItem.Genre.Name</p>
            }
        }
        }
    }
    }

    @*<h2>User Name: @UserAndOrders.User.UserName UserID: @UserAndOrders.User.UserId</h2>
    foreach (var orders in UserAndOrders.Orders)
    {
        <p>OrderNumber: @orders.OrderId</p>
        foreach (var salesitem in orders.SalesItems)
        {
            <p>Product: @salesitem.SalesItem.Name Price per unit: @salesitem.SalesItem.Price Amount: @salesitem.Amount</p>
        }
    }*@
}

