@model IEnumerable<WebAppH2014.Models.SalesItem>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Item.css" />
    <title>The Stock</title>
</head>
<body>

    <div id="content-wrap">
        @foreach (var salesItems in Model)
        {
            <div id="content">
                <img id="item-img" src="~/Resources/@(salesItems.Name).png" alt="Keyboard" />
                <h2>@salesItems.Name</h2>
                    @if(salesItems.Description.Length > 60){
                        <p>@(salesItems.Description.Substring(0, 60)) <a href="~/Store/Details/@(salesItems.SalesItemId)"> ...les mer</a></p>
                    }
                    else{
                        <p>@salesItems.Description <a href="~/Store/Details/@(salesItems.SalesItemId)"> ...les mer</a></p>
                        if (salesItems.Description.Length < 30)
                        {
                            <br>
                        }
                    }
                
                <div id="price-wrap"><h3>@(salesItems.Price),-</h3></div>
                <div id="img-wrap"><a href="~/Home/"><img id="buy-img" src="~/Resources/button.png" alt="Buy Button" /></a></div>
            </div>
        }
    </div>

    @Html.ActionLink("Back Home", "Index") <br />
</body>
</html>