@model WebAppH2014.ViewModels.ShoppingCartViewModel

@{
    ViewBag.Title = "Handlevogn";
}
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-1.7.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>


<body>
    <div>
        <h2> Min Handlevogn </h2>
        <hr />

        <table id="tableStyle">
            <tr>
                <th>
                    Navn
                </th>
                <th>
                    Pris (per)
                </th>
                <th>
                    Antall
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model.CartItems)
            {
                <tr id="row-@item.CartItemId">
                    <td>
                        @Html.ActionLink(item.Item.Name, "Details", "Store", new { id = item.SalesItemId }, null)
                    </td>
                    <td>
                        @(item.Item.Price),-
                    </td>
                    <td id="item-count-@item.CartItemId">
                        @item.Count
                    </td>
                    <td>
                        <form action="ShoppingCart/RemoveFromCart/@item.CartItemId" data-ajax="true" data-ajax-mode="replace"
                                data-ajax-update="#update-message" method="post">
                              <input type="submit" name="rem" value="Slett" class="btn btn-danger col-sm-3 col-sm-offset-9" />

                        </form>
                    </td>
                </tr>
            }
            <tr>
                <td colspan="3">
                    Totalt
                </td>
                <td id="cart-total">
                    @(Model.CartTotal),-
                </td>
            </tr>
        </table>

        <hr />

        @Html.ActionLink("Fortsett handling", "Index", "Store", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Betal >>", "AddressAndPayment", "Checkout", null, new { @class = "btn btn-success pull-right" })
    </div>

</body>
