<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    @*<link href="~/Content/navmenu-reveal.css" rel="stylesheet" type="text/css" />*@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Tast-En-Tur", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav pull-right">
                        <li>@Html.ActionLink("Store", "Index", "Store", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("Admin", "Index", "StoreManager", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("Register user", "Register", "Login", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("Login", "Index", "Login", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("DbTest", "Index", "DbTest", new { area = "" }, new { @class = "navbar-brand" })</li>

                    </ul>
            </div>
        </div>
    </div>


    @*SIDE BAR*@
    <div class="row">
        <div class="col-sm-2">
            <div class="sidebar-nav">
                <div class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        @Html.ActionLink("Genres", "Index", "Store", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar sidebar-navbar">
                        @{Html.RenderAction("GenreMenu", "Store");}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-9">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>


        @*<div class="container body-content">
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>*@
    </div>
</body>
</html>